
.vs/TestHeroku/DesignTimeBuild/.dtbcache.v2
.vs/TestHeroku/project-colors.json
.vs/TestHeroku/v17/.futdcache.v1
.vs/TestHeroku/v17/.suo
TestHeroku/bin/Debug/net6.0/appsettings.Development.json
TestHeroku/bin/Debug/net6.0/appsettings.Prod.json
TestHeroku/bin/Debug/net6.0/appsettings.Test.json
TestHeroku/bin/Debug/net6.0/IntelliCRMAPIService-Service-Log-2022-08-21.log
TestHeroku/bin/Debug/net6.0/ref/TestHeroku.dll
TestHeroku/bin/Debug/net6.0/TestHeroku.dll
TestHeroku/bin/Debug/net6.0/TestHeroku.pdb
TestHeroku/obj/Debug/net6.0/ref/TestHeroku.dll
TestHeroku/obj/Debug/net6.0/TestHeroku.dll
TestHeroku/obj/Debug/net6.0/TestHeroku.pdb
TestHeroku/obj/staticwebassets.pack.sentinel
.vs/TestHeroku/v17/.suo
TestHeroku/bin/Debug/net6.0/appsettings.Development.json
TestHeroku/bin/Debug/net6.0/appsettings.Prod.json
TestHeroku/bin/Debug/net6.0/appsettings.Test.json
TestHeroku/bin/Debug/net6.0/IntelliCRMAPIService-Service-Log-2022-08-21.log
TestHeroku/bin/Debug/net6.0/ref/TestHeroku.dll
TestHeroku/bin/Debug/net6.0/TestHeroku.dll
TestHeroku/bin/Debug/net6.0/TestHeroku.pdb
TestHeroku/obj/Debug/net6.0/ref/TestHeroku.dll
TestHeroku/obj/Debug/net6.0/TestHeroku.dll
TestHeroku/obj/Debug/net6.0/TestHeroku.pdb
TestHeroku/obj/staticwebassets.pack.sentinel
.vs/TestHeroku/v17/.suo
TestHeroku/bin/Debug/net6.0/appsettings.Development.json
TestHeroku/bin/Debug/net6.0/appsettings.Prod.json
TestHeroku/bin/Debug/net6.0/appsettings.Test.json
TestHeroku/bin/Debug/net6.0/IntelliCRMAPIService-Service-Log-2022-08-21.log
TestHeroku/bin/Debug/net6.0/ref/TestHeroku.dll
TestHeroku/bin/Debug/net6.0/TestHeroku.dll
TestHeroku/bin/Debug/net6.0/TestHeroku.pdb
TestHeroku/obj/Debug/net6.0/ref/TestHeroku.dll
TestHeroku/obj/Debug/net6.0/TestHeroku.dll
TestHeroku/obj/Debug/net6.0/TestHeroku.pdb
TestHeroku/obj/staticwebassets.pack.sentinel
